<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\work\Trace-XConnector\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!--<target name="database" xsi:type="Database"
            dbProvider="sqlserver"
            dbHost="${configsetting:name=NlogConnection.DbHost}"
            dbDatabase="${configsetting:name=NlogConnection.Database}"
            dbUserName="${configsetting:name=NlogConnection.User}"
            dbPassword="${configsetting:name=NlogConnection.Password}">-->
    <target name="database" xsi:type="Database">
      <!--<connectionString>server=localhost;Database=Apt;user id=sa;password=1</connectionString>-->
      <connectionString>server=localhost;Database=XConnector;user id=sa;password=1</connectionString>

      <!--<commandText>
        insert into dbo.[NLog] (
        MachineName, Logged, Level, Message,
        Logger, Callsite, Exception
        ) values (
        @MachineName, CONVERT(Datetime,@Logged, 120), @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />-->

      <!--<commandText>
        insert into dbo.[Logs] (
        OrgId, LogActionId,LogControllerId, LogObjectId,
        UserId, LogMsg, LogDate)
        values (
        @OrgId, @LogActionId, @LogControllerId, @LogObjectId,
        @UserId, @LogMsg, SYSDATETIME());
      </commandText>-->

      <commandText>
        insert into dbo.[Logs] (LogMsg, LogDate)
        values (@LogMsg, SYSDATETIME());
      </commandText>

      <!--<parameter name="@LogId" layout="${event-properties:LogId}" />
      
      <parameter name="@OrgId" layout="${event-properties:OrgId}" />
      <parameter name="@LogActionId" layout="${event-properties:LogActionId}" />-->
      <!--<parameter name="@LogControllerId" layout="${event-properties:LogControllerId}" />-->
      <!--<parameter name="@LogObjectId" layout="${event-properties:LogObjectId}" />
      <parameter name="@UserId" layout="${event-properties:UserId}" />-->
      <parameter name="@LogMsg" layout="${event-properties:LogMsg}" />

      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>

    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="c:\work\Trace-XConnector\temp\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="c:\work\Trace-XConnector\temp\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="*" maxlevel="Fatal" final="true" />

    <!-- BlackHole without writeTo -->
    <!--<logger name="AspAngular.UserActionLogsSender*" maxlevel="Fatal" writeTo="ownFile-web" />-->

    <logger name="*" maxlevel="Fatal" writeTo="database" />
    <logger name="*" maxlevel="Fatal" writeTo="ownFile-web" />

    <logger name="*" level="info" final="true" />
  </rules>
</nlog>